<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Prediccion Ventas</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
</head>
<body>
    <div class="container">
        <div class="titulo">
            <h1>Formulario de Ventas</h1>
        </div>
        <div class="formulario">
            <form method="POST" action="/predict">
                {{ form.csrf_token }}
                <div class="ingresos">
                    <div>
                        {{ form.vecindario.label }} {{ form.vecindario(size=20) }}
                    </div>
                    <div>
                        {{ form.genero.label }} {{ form.genero() }}<br>
                    </div>
                    <div>
                        {{ form.producto.label }} {{ form.producto(size=20) }}<br>
                    </div>
                    <div>
                        {{ form.grupo_producto.label }} {{ form.grupo_producto(size=20) }}<br>
                    </div>
                    <div>
                        {{ form.tipo_producto.label }} {{ form.tipo_producto(size=20) }}<br>
                    </div>
                    <div>
                        {{ form.descripcion_producto.label }} {{ form.descripcion_producto(size=20) }}<br>
                    </div>
                    <div>
                        {{ form.unidad_medida.label }} {{ form.unidad_medida(size=20) }}<br>
                    </div>
                    <div>
                        {{ form.cantidad.label }} {{ form.cantidad(size=20) }}<br>
                    </div>
                    <div>
                        {{ form.monto_linea_articulo.label }} {{ form.monto_linea_articulo(size=20) }}<br>
                    </div>
                </div>
                <div>
                    {{ form.submit() }}
                </div>
                <div class="resultado">
                    {% if result is defined %}
                        <p>Generación:</p>
                        <div>
                            {% if result == 0 %}
                                Baby Boomers
                            {% elif result == 1 %}
                                Generación X
                            {% elif result == 2 %}
                                Generación Z
                            {% elif result == 3 %}
                                Older Millennials
                            {% elif result == 4 %}
                                Younger Millennials
                            {% else %}
                                Otra generación
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </form>
        </div>
        

    </div>
</body>
</html>


